/* header */

.header {
	position: fixed;
	top: -100%;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	height: 70px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 50;
	transition: all 0.5s ease 0s;

	&.header-scroll {
		top: 0;
	}

	&__logo {
		background-image: url('/images/header/logo.svg');
		background-position: 50%;
		background-repeat: no-repeat;
		background-size: contain;
		display: block;
		overflow: hidden;
		width: 215px;
		height: 40px;
		text-indent: -9999px;

		@include media('<=500px') {
			width: 160px;
			height: 30px;
		}

		@include media('<=400px') {
			width: 140px;
		}
	}

	&__logo-link {
		color: #000;
		font-size: 18px;
		display: block;
		height: 100%;
	}
	
	@include media('<=tb') {
		height: 60px;
	}
}