/*
	vars
*/

$fonts: '../fonts/';
$images: '../images/';

// fonts
$montserrat: 'Montserrat', sans-serif;

$breakpoints: (
  phone: 375px,
  tb: 768px,
  desktop_min: 1024px,
  desktop_lg: 1440px,
);

// wrap
$container-p: 10px;
$container-width: 1060px;

// colors
$white: #fff;
$black: #000;

// transitions
$transition_dur: .5s;
$transition_tfn: cubic-bezier(.165,.84,.44,1);
