/* btn */

.btn {
	display: block;
	width: 100%;
	max-width: 240px;
	margin: 0 auto;
	padding: 15px 0;
	border: 3px solid $black;
	border-radius: 0;
	background-color: $white;

	position: relative;
	text-align: center;

	font-weight: normal;
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	color: $black;

	// animate
	transition-property: background, color;
	transition-duration: $transition_dur;
	transition-timing-function: $transition_tfn;

	// defaults
	cursor: pointer;
	outline: none;


}

.button {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	background-color: #0ea8b9;
	display: inline-block;
	text-align: center;
	border-radius: 30px;
	transition: all 0.5s ease 0s;
	position: relative;
	padding: 10px;
	max-width: 150px;
	min-width: 150px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	z-index: 5;
	border: none;
	box-shadow: none;

	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		border-radius: 20px;
		background-image: linear-gradient(180deg,rgba(0, 145, 158, 1) -25%,rgba(0, 255, 247, 1) 80%);
		transition: all 0.5s ease 0s;
		opacity: 0;
	}

	@at-root :root.hover &:hover {
		&:after {
			opacity: 1;
		}
	}

	span {
		position: relative;
		z-index: 5;
	}

	&.btn-center {
		margin: 0 auto;
	}
	
	&.btn-color {
		border-radius: 20px;
		background-color: transparent;
		border: 1px solid #00A7B9;
		color: #00A7B9;
		max-width: 195px;
		width: 100%;

		@at-root :root.hover &:hover {
			background-color: #00A7B9;
			color: #fff;

			&:after {
				opacity: 0;
			}
		}

		@include media('<=phone'){
			max-width: 162px;
			max-height: 32px;
			font-size: 14px;
			padding: 7px;
		}
	}

	&.btn-price {
		max-width: 208px;
	}

	&.btn-form {
		max-width: 175px;

		@include media('<=phone'){
			max-width: 140px;
		}
	}

	@include media('<=phone'){
		max-width: 124px;
		min-width: 124px;
		max-height: 32px;
		font-size: 14px;
		padding: 8px;
	}
}