@charset "utf-8";

/*!* helpers parts *!*/
@import "helpers/all";

/*!* components *!*/
//@import "components/fonts";
@import "components/reset";
@import "components/app";
@import "components/buttons";

/*!* layout parts *!*/
@import "layout/header";
@import "layout/footer";

/*ОБЩИЕ СТИЛИ*/
	
/*========*/

/*TOP*/
	.top {
		position: relative;
		background: url('/images/top/bg.jpg')50%/cover no-repeat;
		margin: 0 auto;
		padding: 70px 0;
		display: flex;
		align-items: center;
		flex-direction: column;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-image: linear-gradient(180deg,hsla(0,0%,100%,0) -7.77%,hsla(0,0%,100%,.82) 61.37%,hsla(0,0%,100%,0) 123.66%);
		}
	}
	.title__top {
		background-image: url('/images/top/ico_top.svg');
		background-repeat: no-repeat;
		background-position: 50% 0%;
		background-size: 80px 80px;
		display: flex;
		display:-webkit-box;
		display:-ms-flexbox;
		justify-content: center;
		padding-top: 100px;
		z-index: 2;
		margin: 0 10px 30px;
	}
	.title__top svg {
		object-fit: cover;
		max-width: 100%;
	}
	.top__subtitle {
		color: #00A7B9;
		text-align: center;
		font-size: 24px;
		font-weight: 600;
		font-family: 'Monserrat', sans-serif;
		margin-bottom: 80px;
		max-width: 700px;
		z-index: 2;
		line-height: 36px;
	}
	.top__text {
		color: #000;
		font-size: 16px;
		text-align: center;
		margin-bottom: 30px;
		font-weight: 600;
		z-index: 2;
	}
/*========*/

/*GALERY*/
	.galery {
		background-color: #E2F0F2;
		padding-top: 30px;
		padding-bottom: 40px;

		&__wrap {
			max-width: 1370px;
			width: 100%;
			margin: 0 auto;
			padding: 0 10px;
		}
	}
	.swiper-container {
		margin-bottom: 25px;
		max-width: 1350px;
	}
	.swiper-slide {
		padding-bottom: 5px; 
		& p {
			font-size: 14px;
			text-align: center;
			color: #7D7D7D;
			font-weight: 400;
			margin-top: 10px;
		}
	}
	.swiper-image-wrap {
		max-width: 160px;
		width: 100%;
	}
	.swiper-image {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: calc(184 / 160 * 100%);
		&.swiper-image--1 {
			background-image: url('../images/project/1.jpg');
		}
		&.swiper-image--2 {
			background-image: url('../images/project/2.jpg');
		}
		&.swiper-image--3 {
			background-image: url('../images/project/3.jpg');
		}
		&.swiper-image--4 {
			background-image: url('../images/project/4.jpg');
		}
		&.swiper-image--5 {
			background-image: url('../images/project/5.jpg');
		}
		&.swiper-image--6 {
			background-image: url('../images/project/6.jpg');
		}
		&.swiper-image--7 {
			background-image: url('../images/project/7.jpg');
		}
		&.swiper-image--8 {
			background-image: url('../images/project/8.jpg');
		}
	}
/*========*/

/*SERVICES*/
	.services {
		padding: 100px 0;
		@include media('<=tb') {
			padding: 80px 0;
		}
	}
	.tabs__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.tabs__link {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		transition: all 0.5s ease 0s;
	}
	.tabs-link-1,
	.tabs-link-2,
	.tabs-link-3 {
		flex: 0 1 33.333%;
		margin-bottom: 30px;
	}
	.icon-wrap {
		margin-bottom: 30px;
		width: 150px;
		height: 150px;
		border-radius: 50%;
		border: 1px solid #00A7B9;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.5s ease 0s;
	}
	.tabs__link:hover {
		& .icon-wrap{
			background-color: #F6F6F6;
			transition: all 0.5s ease 0s;
		}
		& svg.tabs-icon-svg path {
			fill: #00A7B9;
			transition: all 0.5s ease 0s;
		}
		& .tabs-icon__title {
			color: #00A7B9;
			transition: all 0.5s ease 0s;
		}
	}
	.tabs__link-active {
		& .icon-wrap {
		background-color: #F6F6F6;
		}
		& svg.tabs-icon-svg path {
			fill: #00A7B9;
		}
		& .tabs-icon__title {
			color: #00A7B9;
		}
	}
	.tabs-icon__title {
		text-transform: uppercase;
		font-size: 16px;
		color: #7D7D7D;
		text-align: center;
	}
	.tabs__body {
		margin: 0 auto;
	}
	.tabs__item {
		max-width: 1060px;
		width: 100%;
		background-color: #F6F6F6;
		display: none;
			@include media('<tb') {
			flex-direction: column;
		}
	}
	.tabs__item.tabs__item-active {
		display: flex;
	}
	.tabs__body-image-wrap {
		max-width: 450px;
		width: 100%;
		@include media('<tb') {
			max-width: 100%;
			margin-bottom: 50px;
		}
	}
	.tabs__body-image{
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		height: 0;
		padding-bottom: calc(300 / 450 * 100%);
		&.tabs__img-1 {
			background-image: url('../images/services/1.jpg');
		}
		&.tabs__img-2 {
			background-image: url('../images/services/2.jpg');
		}
		&.tabs__img-3 {
			background-image: url('../images/services/3.jpg');
		}
	}
	.tabs__body-item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-grow: 1;
		padding: 0 10px;
		@include media('<tb') {
			padding: 0 10px 50px;
		}
	}
	.tabs__item-title {
		font-size: 16px;
		color: #000;
		text-align: center;
		text-transform: uppercase;
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 20px;
		display: inline-block;
		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			border-bottom: 1px solid #333333;
			width: 60px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.tabs__item-text {
		font-size: 16px;
		line-height: 28px;
		color: #7D7D7D;
		text-align: center;
		max-width: 420px;
	}
/*========*/

/*WHY*/
	.why {
		background-image: url('/images/why/bg_why_min.jpg');
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
		position: relative;
		padding: 100px 0;
		z-index: 1;
	}
	.why:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(28, 121, 130, .4);
		z-index: 1;
	}
	.title__white {
		z-index: 2;
		position: relative;
		color: #fff;
		margin-bottom: 20px;
	}
	.why__list {
		position: relative;
		z-index: 2;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-left: -10px;
		margin-right: -10px;
		@include media('<tb'){
			margin-left: 0px;
			margin-right: 0px;
			display: block;
		}
	}
	.why__list-item {
		flex: 0 1 25%;
		-ms-flex: 0 1 23%;
		padding-left: 10px;
		padding-right: 10px;
		display: flex;
		@include media('<=desktop_min'){
			max-width: 360px;
			min-width: 360px;
			padding: 10px;
		}
		@include media('<tb'){
			width: 100%;
			max-width: 100%;
			min-width: auto;
		}
	}
	.why__list-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px 15px 40px;
		background: linear-gradient(0deg, white -15%, rgba(255, 255, 255, 0.5));
		width: 100%;
	}
	.why__img {
		width: 74px;
		height: 74px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.why__title {
		color: #333333;
		text-align: center;
		font-size: 16px;
		margin-bottom: 20px;
	}
	.why__text {
		color: #7D7D7D;
		text-align: center;
		font-size: 16px;
		line-height: 28px;
		padding: 0 10px;
		width: 100%;
	}
/*========*/

/*PORTFOLIO*/
	.portfolio {
		padding-top: 100px;
		z-index: 2;
		position: relative;
	}
	.portfolio__tabs-list {
		display: flex;
		max-width: 500px;
		justify-content: space-between;
		margin: 0 auto;
		margin-bottom: 30px;
		padding: 0 10px;
	}
	.portfolio__tabs-link {
		color: #7D7D7D;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		transition: all .5s ease 0s;
		padding-bottom: 8px;
	}
	.portfolio__tabs-link:hover {
		color: #333333;
	}
	.portfolio__list {
		display: none;
		flex-wrap: wrap;
		justify-content: center;
	}
	.portfolio__list.portfolio__list--active {
		display: flex;
	}
	.portfolio__item {
		flex: 0 1 33.333%; 
		@include media('<=tb'){
			flex: 0 1 50%;
		}
		@include media('<=phone'){
			flex: 0 1 100%;
		}
	}
	.portfolio__image {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: calc(380 / 480 * 100%);
		&.portfolio__image-1 {
			background-image: url('../images/portfolio/portfolio_1.jpg');
		}
		&.portfolio__image-2 {
			background-image: url('../images/portfolio/portfolio_2.jpg');
		}
		&.portfolio__image-3 {
			background-image: url('../images/portfolio/portfolio_3.jpg');
		}
		&.portfolio__image-4 {
			background-image: url('../images/portfolio/portfolio_4.jpg');
		}
		&.portfolio__image-5 {
			background-image: url('../images/portfolio/portfolio_5.jpg');
		}
		&.portfolio__image-6 {
			background-image: url('../images/portfolio/portfolio_6.jpg');
		}
	}
	.portfolio__tabs-link.portfolio__tabs-link--active {
		color: #333333;
		position: relative;
		display: inline-block;
		&::after {
			content: '';
			position: absolute;
			display: block;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0;
			width: 35px;
			height: 3px;
			border-bottom: 3px solid #00A7B9;
		}
	}
/*========*/

/*PRICE*/
	.price {
		padding: 100px 0 80px;
		background-color: #F6F6F6;
	}
	.price__list {
		display: flex;
		justify-content: center;
		margin-left: -10px;
		margin-right: -10px;
		@include media('<desktop_min'){
			flex-wrap: wrap;
			margin-left: 0px;
			margin-right: 0px;
		}
		@include media('<tb'){
			display: block;
		}
	}
	.price__list-item {
		flex: 0 1 33.333%;
		display: flex;
		padding-left: 10px;
		padding-right: 10px;
		@include media('<desktop_min'){
			flex: 0 1 50%;
			padding-bottom: 20px;
			&:last-child {
				padding-bottom: 0px;
			}
		}
		@include media('<tb'){
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	.price__list-inner {
		display: flex;
		flex-direction: column;
		background-color: #fff;
		border-radius: 20px;
		align-items: center;
		padding-bottom: 30px;
		width: 100%;
	}
	.price-title {
		text-transform: uppercase;
		color: #333333;
		font-size: 16px;
		text-align: center;
		background-color: #D9B07B;
		width: 100%;
		border-radius: 20px 20px 0 0;
		height: 56px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 30px;
	}
	.price-numb {
		color: #D9B07B;
		font-size: 30px;
		margin-bottom: 30px;
		& span {
			font-size: 20px;
		}
	}
	.price-text {
		margin-bottom: 50px;
		color: #7D7D7D;
		font-size: 16px;
		line-height: 28px;
		max-width: 100%;
		padding: 0 30px;
	}
/*========*/

/*STARTED*/
	.started {
		padding: 80px 0;
		position: relative;
		display: flex;
		overflow: hidden;
		flex-direction: column;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-image: linear-gradient(180deg,hsla(0,0%,100%,0) -7.77%,hsla(0,0%,100%,.82) 61.37%,hsla(0,0%,100%,0) 123.66%);
		}
	}
	.started .section__title {
		color: #333333;
		margin-bottom: 20px;
		position: relative;
		z-index: 2;
	}
	.started-text {
		color: #333333;
		font-size: 16px;
		text-align: center;
		line-height: 28px;
		margin-bottom: 30px;
		position: relative;
		z-index: 2;
	}
/*========*/

/*ABOUT*/
	.about {
		padding: 100px 0;
	}
	.about__row {
		display: flex;
	}
	.about__item {
		flex: 0 1 50%;
		@include media('<=desktop_min'){
			&:last-child {
				margin-left: 30px;
			}
		}
		@include media('<=tb'){
			&:last-child {
				margin-left: 0px;
			}
		}
	}
	.about__image-wrap {
		box-shadow: 20px 20px 0px #F6F6F6;
		max-width: 450px;
		width: 100%;
		@include media('<=tb'){
			margin: 0 auto;
			max-width: 325px;
		}
		@include media('<=phone'){
			max-width: 210px;
		}
	}
	.about__image {
		background: url('../images/about/about_img-min_2.jpg');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		height: 0;
		padding-bottom: calc(450/450*100%);
	}
	.about__item-title {
		font-size: 24px;
		color: #333333;
		font-weight: 600;
		line-height: 36px;
		margin-bottom: 25px;
	}
	.about__item-text {
		font-size: 16px;
		color: #7D7D7D;
		font-weight: 400;
		line-height: 28px;
	}
/*========*/

/*CLIENTS*/
.clients {
	padding: 100px 0;
	position: relative;
	overflow: hidden;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-image: linear-gradient(180deg,hsla(0,0%,100%,0) -75%,hsla(0,0%,100%,.82) 60%,hsla(0,0%,100%,0) 150%);
	}
}
.swiper-container--clients {
	position: relative;
	z-index: 2;
	max-width: 750px;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
	padding-bottom: 30px;
}
.swiper-slide--clients {
	background-color: #fff;
	border-radius: 20px;
	padding: 30px;
}
.clients-title {
	color: #333333;
	font-size: 16px;
	text-align: center;
	margin-bottom: 20px;
}
p.clients-text {
	color: #333333;
	font-size: 16px;
	line-height: 28px;
	text-align: left;
}
.swiper-pagination {
	display: flex;
	justify-content: center;
	align-items: center;

	left: 50% !important;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	margin-top: 10px;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 0px;
}
.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background-color: #7D7D7D;
	opacity: 1;
	margin-right: 5px;
}
.swiper-pagination-bullet:last-child {
	margin-right: 0;
}
.swiper-pagination-bullet-active {
	width: 14px;
	height: 14px;
	background-color: #1C7982;
	opacity: 1;
}
/*========*/

/*OPTIMAZE*/
	.optimaze {
		padding-top: 100px;
	}
	.optimaze-text {
		color: #000;
		font-size: 16px;
		text-align: center;
		line-height: 28px;
		margin-bottom: 30px;
	}
	.optimaze-wrap {
		position: relative;
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: calc(439/542*100%);
			top: calc(52/542*100%);
			left: 0;
			background: #E2F0F2;
			z-index: -1;
		}
	}
	.optimaze__image-list {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	.optimaz__image-link:nth-child(1) {
		position: absolute;
		left: 0;
		bottom: calc(25/542*100%);
		width: calc(330/1060*100%);
	}
	.optimaz__image-link:nth-child(1) img{
		width: 100%;
		display: block;
	}
	.optimaz__image-link:nth-child(2) {
		width: calc(910/1060*100%);
	}
	.optimaz__image-link:nth-child(2) img{
		width: 100%;
		display: block;
	}
	.optimaz__image-link:nth-child(3) {
		position: absolute;
		right: 0;
		bottom: 0;
		bottom: calc(25/542*100%);
		width: calc(200/1060*100%);
	}
	.optimaz__image-link:nth-child(3) img{
		width: 100%;
		display: block;
	}
/*========*/

/*CONTACTS*/
	.contacts {
		padding: 100px 0;
	}
	.contacts-text {
		text-align: center;
		color: #7D7D7D;
		font-size: 16px;
		line-height: 28px;
		margin-bottom: 30px;
	}
	.form {
		margin: 0 auto;
		max-width: 680px;
		display: flex;
		flex-direction: column;
	}
	.form__line {
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;
	}
	.form__line:nth-child(3) {
		margin-bottom: 30px;
	}
	.input {
		border: none;
		border-bottom: 1px solid #7D7D7D;
		padding: 5px 0;
	}
	textarea.input {
		resize: none;
		padding-bottom: 95px;
	}
	.label{
		transform: scale(1) translateY(23px);
		color: #333333;
		font-size: 16px;
		transition: all 0.5s ease 0s;
		width: 45px;
	}
/*========*/

/*POPUP*/
	.popup {
		margin: 50px;
	}
	.popup__title {
		font-size: 24px;
		font-weight: 600;
		text-align: center;
		color: #000;
		margin-bottom: 30px;
	}
	.popup-text {
		font-size: 16px;
		line-height: 28px;
		color: #000;
		font-weight: 400;
		margin-bottom: 20px;
	}
	.popup__second-title {
		font-size: 16px;
		color: #000;
		font-weight: 600;
		margin-bottom: 20px;
	}
	.right-text {
		text-align: right;
	}
	.hystmodal__window {
		width: 1000px;
	}
	.hystmodal__close {
		right: 8px;
		top: 8px;
		background-image: url('/images/footer/close.svg');	
	}
	.hystmodal {
		padding: 20px 20px;
	}
/*========*/

@media (max-width: 1024px) {
	/*SERVICES*/
		.tabs__item {
			display: flex;
		}
		.tabs-link-1 {
			order: 1;
		}
		.tabs-link-2 {
			order: 3;
		}
		.tabs-link-3 {
			order: 5;
		}
		.tabs-link-4 {
			order: 2;
		}
		.tabs-link-5 {
			order: 4;
		}
		.tabs-link-6 {
			order: 6;
		}
		.tabs__item {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0px;
			}
		}
		.tabs__link {
			& .icon-wrap{
				background-color: #F6F6F6;
			}
			& svg.tabs-icon-svg path {
				fill: #00A7B9;
			}
			& .tabs-icon__title {
				color: #00A7B9;
			}
		}
	/*========*/

	/*PORTFOLIO*/
		.portfolio__tabs-item--img {
			flex: 0 1 50%;
		}
	/*========*/
}

@media (max-width: 768px) {
	/*ОБЩИЕ СТИЛИ*/
		.section__title {
			font-size: 30px;
		}
	/*========*/

	/*TOP*/
		.top__subtitle {
			font-size: 20px;
			line-height: 32px;
		}
	/*========*/

	/*GALERY*/
		.swiper-slide {
			& img {
				height: 160px;
			}
		}
	/*========*/

	/*WHY*/
		.why {
			padding: 80px 0;
		}
	/*========*/

	/*PRICE*/
		.price {
			padding: 80px 0;
		}
		.price-text {
			margin-bottom: 40px;
		}
	/*========*/

	/*PORTFOLIO*/
		.portfolio {
			padding-top: 80px;
		}
	/*========*/

	/*STARTED*/
		.started {
			padding: 60px 0;
		}
	/*========*/

	/*ABOUT*/
		.about {
			padding: 60px 0;
		}
		.about .about__item-title {
			text-align: center;
		}
		.about__row {
			flex-direction: column-reverse;
		}
		.about__item:first-child {
			padding-right: 0px;
		}
		.about__item:last-child {
			margin-bottom: 20px;
		}
	/*========*/

	/*CLIENTS*/
		.clients {
			padding: 60px 0;
		}
	/*========*/

	/*OPTIMAZE*/
		.optimaze {
			padding-top: 60px;
		}
	/*========*/

	/*CONTACTS*/
		.contacts {
			padding: 60px 0;
		}
	/*========*/
}

@media (max-width: 425px) {
	/*ОБЩИЕ СТИЛИ*/
		.section__title {
			margin-bottom: 20px;
			font-size: 24px;
		}
	/*========*/

	/*PORTFOLIO*/
		.portfolio__tabs-item--img {
			flex: 0 1 100%;
		}
		.portfolio {
			padding-top: 40px;
		}
	/*========*/

	/*SERVICES*/
		.services {
			padding: 40px 0;
		}
	/*========*/

	/*WHY*/
		.why {
			padding: 40px 0;
		}
	/*========*/

	/*PRICE*/
		.price {
			padding: 40px 0;
		}
	/*========*/

	/*STARTED*/
		.started {
			padding: 40px 0;
		}
	/*========*/

	/*ABOUT*/
		.about .about__item-title {
			text-align: left;
		}
		.about {
			padding: 40px 0;
		}
	/*========*/

	/*CLIENTS*/
		.clients {
			padding: 40px 0;
		}
	/*========*/

	/*OPTIMAZE*/
		.optimaze {
			padding-top: 40px;
		}
	/*========*/
	
	/*CONTACTS*/
		.contacts {
			padding: 40px 0;
		}
	/*========*/

	/*POPUP*/
		.popup {
			margin: 15px;
		}
	/*========*/
}

@media (max-width: 375px) {
	/*TOP*/
		.top {
			padding: 80px 0;
		}
		.top__subtitle {
			font-size: 18px;
			line-height: 26px;
		}
	/*========*/

	/*GALERY*/
		.top {
			padding: 60px 0;
		}
		.swiper-slide {
			& img {
				height: 90px;
			}
			& p {
				font-size: 10px;
			}
		}
	/*========*/

	/*CLIENTS*/
		p.clients-text {
			font-size: 16px;
		}
	/*========*/
}